<!DOCTYPE html>

<html>

<title>Buyer Login</title>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <link rel = "stylesheet" type = "text/css" href = "css/modal_styles.css">

    <link rel = "stylesheet" type = "text/css" href = "css/styles.css">

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>

<body>

               {{# if success_msg}}

                               <div class = "alert alert-success">{{success_msg}}</div>

               {{/if}}

 

               {{# if error_msg}}

                               <div class = "alert alert-danger">{{error_msg}}</div>

               {{/if}}

 

               {{# if error}}

                               <div class = "alert alert-success">{{error}}</div>

               {{/if}}

 

                {{{body}}}

</body>

</html>