<h2 class = "text-center"> Supplier portal</h2>

<h3 class = "text-center"> Welcome. {{supplier_name}} </h3>

<div class = "container">

      <div class = "col-50">

        <div class = "row">

          <div class="col-sm-3">

            <label for = "Area"> GEO: </label>

          </div>

          <div class="col-sm-9">

            <select id="location" name="country">

                <option value="australia">Australia</option>

                <option value="north america">North America</option>

                <option value="south america">SOuth America</option>

                <option value="africa">Africa</option>

                <option value="asia">Asia</option>

                <option value="europe">Europe</option>

                <option value="antarctica">Antarctica</option>

            </select>

          </div>

       </div>

                </div>

 

                <div class = "col-50">

                                <div class = "notif_window1">

                                                <div class="header" id="myHeader">

                                                                <h2>My Header</h2>

                                                </div>

                                                <div class = "content">

                                                                <div class = "row" style = "padding-bottom: 20px">

                                                                                <article class = "notif"></article>

                                                                </div>

                                                                <div class = "row" style = "padding-bottom: 20px">

                                                                                <article class = "notif"> Margins and Padding. margin and padding are the two most commonly used properties for spacing-out elements. A margin is the space outside something, whereas padding is the space inside something.
                                                                                     Change the CSS code for h2 to the following: h2 { font-size: 1.5em; background-color: #ccc; margin: 20px; padding: 40px;</article>

                                                                </div>

                                                                <div class = "row" style = "padding-bottom: 20px">

                                                                                <article class = "notif"> Margins and Padding. margin and padding are the two most commonly used properties for spacing-out elements. A margin is the space outside something, whereas padding is the space inside something. 
                                                                                    Change the CSS code for h2 to the following: h2 { font-size: 1.5em; background-color: #ccc; margin: 20px; padding: 40px;</article>

                                                                </div>

                                                                <div class = "row" style = "padding-bottom: 20px">

                                                                                <article class = "notif"> Margins and Padding. margin and padding are the two most commonly used properties for spacing-out elements. A margin is the space outside something, whereas padding is the space inside something.
                                                                                     Change the CSS code for h2 to the following: h2 { font-size: 1.5em; background-color: #ccc; margin: 20px; padding: 40px;</article>

                                                                </div>

                                                </div>

                                </div>

                </div>

</div>